.DS_Store
*.o
*.a
*.so
*.gch
moc_*.cpp
/hookflash-libs/.DS_Store
/Simulator
/Simulator-Coverage
/Simulator-Profile
/Device-Coverage
/Device-Debug
/Device-Profile
/Device-Release
samples/opbbcsampleapp/arm
samples/opbbcsampleapp/.settings
samples/opbbcsampleapp/config.pri
test/hfservicesTest/arm
test/hfservicesTest/config.pri
test/zsLibTest/arm
test/zsLibTest/config.pri

